 body {
	margin: 0 0;
	padding: 0 0;
	background-image: url("../img/login_bg.jpg");
	background-size: 100%; 
}

.loginDiv{
	position: absolute;
	width: 30%;
	height: 50%;
	top: 25%;
	left: 35%;
	font-family: cursive;
	text-align: center;
	padding: 10px;
	border-radius:10px;
	background-color: rgba(255,255,255,0.5);	
}

input{
	width: 60%;
	text-align: center;
}

button{
	width: 30%;
}

.title{
	font-size: 20px;
	font-family: "Î¢ÈíÑÅºÚ";
	margin-top: 4%;
}
